@model IEnumerable<Cosmetics_Shopping_Website.GenericPattern.ViewModels.ProductVariantVM>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "HomePage";
}

<body class="mb-0">
    <div class="container-fluid mt-5 mx-0 p-0">
        <div class="row w-100 m-0">
            <div id="variantcarousel" class="carousel slide carousel-custom p-0" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#variantcarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#variantcarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#variantcarousel" data-bs-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/HomeCarousel1.png" class="d-block w-100 carousel-image" alt="Image 1">
                        <div class="carousel-caption d-none d-md-block text-black">
                            <a asp-controller="Products" asp-action="Index" class="text-muted">View Products</a>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <img src="/images/Page_carousel2.png" class="d-block w-100 carousel-image" alt="Image 2">
                        <div class="carousel-caption d-none d-md-block text-black">
                            <a asp-controller="ProductVariants" asp-action="Index" class="text-muted ps-2 float-start">View Product-Variants</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/Page_carousel3.png" class="d-block w-100 carousel-image" alt="Image 3">
                        <div class="carousel-caption d-none d-md-block text-black">
                            <a asp-controller="Categories" asp-action="Index" class="text-muted ps-2 float-start">View Categories</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row mx-0">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mt-5 p-5">
                <div class="card me-4 rounded" onclick="location.href='@Url.Action("Product_Details_for_Customer", "Home", new {@item.Id })'">
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/images/@item.VariantImage" class="card-img-top w-50 mx-auto d-block" alt="card"></a>
                    
                    <div class="card-img-overlay align-items-center justify-content-center">
                        <h5 class="card-title">Makeup</h5>
                        <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text">Shop Now</small></div>
                    </div>
                </div>
            </div>
          
        }
    </div>
    <div class="card-group mt-5 p-5">
        <div class="card me-4 rounded">
            <a asp-controller="Home" asp-action="Product_Details_for_Customer" asp-route-id="2"><img src="~/images/lipsticks-card.jpg" class="card-img-top" alt="card"></a>

        </div>
        <div class="card me-4 rounded border-start border-3">
            <br /><br />
            <div class="card-body p-5 justify-content-center">
                <h2 class="card-title"> 6 Beautiful Matte Shades </h2>
                <p class="card-text">Matte lipstick is a highly pigmented lip product with a shine-free, velvety finish</p>
                <div class=" border border-dark rounded w-25  justify-content-center"><a href="#" class="shop-now-button text-black"><small class="card-text">Shop Now</small></a></div>
            </div>
        </div>
        <div class="card rounded">
            <a href="#"><img src="~/images/lipsticks-card2.jpg" class="card-img-top" alt="card"></a>

        </div>
    </div>

    <div class="container-fluid mt-5 px-5">
        <a asp-action="Details"><img src="~/images/card-3-homepage.png" class="d-block w-100"/></a>
    </div>

    <div class="card-group mt-5 p-5">
        <div class="card me-4 rounded">
            <img src="https://cdn.shopify.com/s/files/1/0979/5386/products/Untitleddesign-2022-04-21T131509.272_2000x.png?v=1686324860" class="card-img-top" alt="makeup-card">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Makeup</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text">Shop Now</small></div>
            </div>
        </div>
        <div class="card me-4 rounded">
            <img src="~/images/card-scrub-homepage.jpg" class="card-img-top" alt="bodycare-card">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Body Care</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text">Shop Now</small></div>
            </div>
        </div>
        <div class="card rounded">
            <img src="https://image.harrods.com/lancome-idole-eau-de-parfum-75ml_14823474_43345282_2048.jpg" class="card-img-top" alt="fragrance-card" style="height:407px">
            <div class="card-img-overlay align-items-center justify-content-center">
                <h5 class="card-title">Fragrance</h5>
                <div class=" border border-dark rounded w-25  justify-content-center"><small class="card-text ">Shop Now</small></div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 mx-0 p-0" onclick="location.href='@Url.Action("List_of_Lipgloss", "Home")'">
        <img src="~/images/lipgloss-card-homepage.png" class="d-block w-100" alt="lipgloss-card" />
    </div>
   
</body>

